{
  "Lua.runtime.version": "LuaJIT",
  "Lua.workspace.library": [
    "${workspaceFolder}/library"
  ],
  "Lua.diagnostics.globals": [
    "get_local_player",
    "get_player_position",
    "actors_manager",
    "vec3",
    "vec2",
    "game_object",
    "cast_spell",
    "prediction",
    "target_selector",
    "orbwalker",
    "pathfinder",
    "graphics",
    "menu_elements",
    "color",
    "console",
    "enums",
    "spell_data",
    "loot_manager",
    "evade",
    "utility",
    "home",
    "world",
    "callbacks",
    "auto_play"
  ]
}