{
  "Lua.runtime.version": "LuaJIT",
  "Lua.workspace.library": [
    "${workspaceFolder}/library"
  ],
  "Lua.diagnostics.globals": [
    "get_local_player",
    "get_local_player_name",
    "get_player_position",
    "get_actors_list",
    "get_attachments_list",
    "get_hash",
    "get_cursor_position",
    "get_gametime",
    "get_time_since_inject",
    "get_equipped_spell_ids",
    "get_name_for_spell",
    "is_inventory_open",
    "get_open_inventory_bag",
    "get_key_state",
    "get_quests",
    "get_hovered_item",
    "interact_object",
    "interact_vendor",
    "get_screen_width",
    "get_screen_height",
    "get_helltide_coin_cinders",
    "get_helltide_coin_hearts",
    "leave_dungeon",
    "revive_at_checkpoint",
    "start_game",
    "leave_game",
    "use_health_potion",
    "reset_all_dungeons",
    "teleport_to_waypoint",
    "actors_manager",
    "game_object",
    "vec2",
    "vec3",
    "utility",
    "cast_spell",
    "prediction",
    "target_selector",
    "pathfinder",
    "graphics",
    "menu_elements",
    "color",
    "spell_data"
  ]
}